:root {
  --white-color: #ececec;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  direction: rtl;
}

/* small screen */
@media (min-width: 768px) {
  .container {
    width: 748px;
  }
}

/* medium screen */
@media (min-width: 992px) {
  .container {
    width: 972px;
  }
}

/* big screen */
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}
body {
  background-color: #d7d7d7;
}
.container {
  height: 90vh;
  display: flex;
  gap: 15px;
}
.container .nav .icon {
  width: 40px;
  height: 40px;
}
.container .nav .title {
  font-size: 18px;
}
.container .nav .row {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* end reusable */

.container .nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  padding: 10px;
  height: 100%;
}
.container .nav .nav-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.container .nav .nav-title img {
  width: 50px;
  height: 50px;
  margin-right: auto;
}
summary {
  list-style: none;
  display: flex !important;
  flex-direction: row-reverse;
  align-items: center;
}
summary::before {
  content: url(../assets/icons/arrow-down-icon.png);
  margin-right: auto;
}
details[open] summary::before {
  content: url(../assets/icons/arrow-up-icon.png);
}

details .li {
  display: flex;
  align-items: center;
  margin-block: 15px;
  margin-inline-start: 25px;
}
details .li .list-icon {
  width: 30px !important;
  height: 30px !important;
  margin-inline-end: 5px;
}

.home-page .container .right-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 80%;
}
.home-page .container .right-section .squares {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 20px;
}
.home-page .container .right-section .squares .info-square {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--white-color);
  border-radius: 5px;
}

.home-page .container .right-section .squares .info-square .sq-title {
  font-weight: 200;
}
.home-page .container .right-section .squares .info-square .sq-total {
  font-weight: bold;
  font-size: 22px;
}
.home-page .container .right-section .squares .info-square .circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.home-page .container .right-section .squares .info-square .flight-circle {
  background-image: url(../assets/icons/flight-icon.png);

  background-color: blue;
}
.home-page .container .right-section .squares .info-square .visa-circle {
  background-image: url(../assets/icons/visa-icon.png);

  background-color: green;
}
.home-page .container .right-section .squares .info-square .hotel-circle {
  background-image: url(../assets/icons/hotel-icon.png);

  background-color: blueviolet;
}
.home-page .container .right-section .squares .info-square .customer-circle {
  background-image: url(../assets/icons/hotel-icon.png);

  background-color: yellow;
}
/* end of home page */
.flight-schedule-page .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.flight-schedule-page .container .page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 80%;
}

.flight-schedule-page .container .page-header img {
  width: 50px;
  height: 50px;
  gap: 20px;
}
.flight-schedule-page .container .page-header .date {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-inline-start: auto;
}
.flight-schedule-page .container .page-header .date img {
  width: 30px;
  height: 30px;
}
.flight-schedule-page .container .page-header input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
}

.flight-schedule-page .container table {
  background-color: var(--white-color);
  width: 80%;
  text-align: center;
}
.flight-schedule-page .container table td {
  padding: 15px;
}
.flight-schedule-page .container table thead tr td {
  background-color: beige;
}
